<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kais.ssm.mapper.DepartmentMapper">

    <!--在当前 Mapper.xml 中使用二级缓存-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <resultMap id="BaseResultMap" type="com.kais.ssm.pojo.Department">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    </resultMap>

</mapper>