<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kais.ssm.mapper.EmployeeMapper">

<!--    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>-->

    <!--在当前 Mapper.xml 中使用二级缓存-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <resultMap id="BaseResultMap" type="com.kais.ssm.pojo.Employee">
        <id column="id" jdbcType="INTEGER" property="userId" />
        <result column="last_name" jdbcType="VARCHAR" property="lastName" />
        <result column="gender" jdbcType="CHAR" property="gender" />
        <result column="email" jdbcType="VARCHAR" property="userEmail" />
    </resultMap>
    <resultMap id="EmployeeJoin" type="Employee" extends="BaseResultMap">
        <association property="dept" resultMap="com.kais.ssm.mapper.DepartmentMapper.BaseResultMap"/>
    </resultMap>

    <sql id="JoinColumn">
    id, last_name, gender, email, department_name
  </sql>

    <select id="getAll" resultMap="EmployeeJoin">
        select <include refid="JoinColumn"/> from employee e left join department d on e.id = d.id
    </select>
</mapper>