<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis07_ssm:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/mybatis07_ssm_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="mybatis07_ssm/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis07_ssm" />
        </element>
      </element>
    </root>
  </artifact>
</component>